@font-face {
    font-family: 'Roboto Mono';
    src: url('static/RobotoMono-Regular.ttf') format('truetype'); /* ścieżka do pliku TTF */
    font-weight: normal;
    font-style: normal;
    }

h1{
    text-align: center;
    margin-top: 20%;
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;

}
p{
    margin-top: 700px;
    text-align: center;
    font-family: 'Roboto';
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    margin-left:20px;
    margin-right:20px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.grey{
    color: grey;
    margin-top: 10px;
    font-size: 15px;
}

#cowboy,#bich{
    width: 400px;
}

.przerwa{
    height: 300px;
}

button{
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    margin-top:100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-radius: 24px;
    padding:10px 25px;
    color: aliceblue;
    border: none;
    background-color:blueviolet;
    text-transform: uppercase;

    
}

button:hover{
    background-color:rgb(160, 81, 234); 
    transform: scale(1.1);
    transition: transform 0.3s ease-out;
}


@media only screen and  (max-width: 1023px) { 
    p{font-size: 40px;}
    .grey{font-size: 30px;}
    h1{
        font-size: 60px;
        margin-top: 80%;
        margin-bottom: 50%;
    }

    #cowboy,#bich{
    width: auto;
}

#leg-up{
    width:600px
}
button{
    transform: scale(2.5);
}

button:hover{
    transform: scale(2.5);
}
}
